body {
  background-color: #FCFCFC;
  color: #696969;
  font-family: "Helvetica", sans-serif;
}
header {
  background-color: #FDECED;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 50px 25px 50px 25px;
}

#contact {
  background-color: #FDECED;
  margin-top: 50px;
  padding: 50px 25px 50px 25px;
}
section{
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  width: 70%;
}
aside {
  padding: 50px 25px 50px 25px;
  float: right;
  width: 30%;
}
h1 {
  font-size: 32px;
  border: ##B1A295 2px;
  margin-bottom: 15px;
  text-align: center;
}
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
h3 {
  font-size: 16px;
  margin-bottom: 15px;
}
p {
  background-color: #E6E6FA;
  color: #00008B;
  font-size: 14px;

}
ol {
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
.profile-img {
  border-left: solid #FDECED 10px;
  }

.link {
  background-color: #EEF9FA;
  padding: 50px 5px 50px 25px;
  margin: auto;
  text-align: center;
}
a {
  border: solid #696969 1px;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
address {
  margin-top:20px;
  margin-bottom: 20px;
}
.side {
  border-left: solid #FDECED 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
}
.portfolio-text {
    background-color: #FCFCFC;
    color: #696969;
  font-weight: normal;
}
.portfolio-image {
  border-left: solid #FDECED 10px;
 }
figure {
  margin-bottom: 30px;
}
.language {
  height: 10px;
  accent-color: #F7B5BA; 
}
dt {
font-weight: bold;
}
.section-text {
margin-bottom: 30px;
}
