body {
  background-color: #F0F8FF;
  color: #696969;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 16px;
  color: #00008B;
  background-color: #E6E6FA;
}
ol {
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
.profile-img {
  border: dotted 2px;
  width: 200px;
  height: 200px;
}
