body {
  background-color: #FFFFF0;
  color: #696969;
}
h1 {
  font-size: 20px;
  border: ##B1A295 2px;
}
h2 {
  font-size: 18px;
}
p {
  background-color: #E6E6FA;
  color: #00008B;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 25px 15px 25px;
}
ol {
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
.profile-img {
  border: dotted #00008B 2px;
}
img.align-right{
  float: right;
  margin-left: 20px;
}
.link {
  background-color: #DFE3DD;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 5px 15px 25px;
}
a {
  background-color: #B1A295;
  border: #31382E 1px;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}
